<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestNG.GoogleTestNG</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>performActions</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>TestNG.ProgressiveTestingNGClass</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProgressiveDriversDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProgressiveVehicleDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>homepagecontinue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Anutejahomepage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>hompageredirectstoperosndetails</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
