<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:51:32</td>   <td>0</td> <td title="&gt;&gt;ProgressiveTestingNGClass.executeBeforeStartingTest()[pri:0, instance:TestNG.ProgressiveTestingNGClass@23986957]">&gt;&gt;executeBeforeStartingTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>20/02/14 20:51:32</td>   <td>11</td> <td>&nbsp;</td><td title="&gt;&gt;GoogleTestNG.setUpTest()[pri:0, instance:TestNG.GoogleTestNG@23f7d05d]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:51:39</td>   <td>6680</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveTestingNGClass.setUpTest()[pri:0, instance:TestNG.ProgressiveTestingNGClass@23986957]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>20/02/14 20:51:45</td>   <td>12667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTestNG.performActions()[pri:0, instance:TestNG.GoogleTestNG@23f7d05d]">performActions</td> 
  <td>TestNG-test=Test-2@828342513</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:51:45</td>   <td>12667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.Anutejahomepage()[pri:0, instance:TestNG.ProgressiveTestingNGClass@23986957]">Anutejahomepage</td> 
  <td>TestNG-test=Test-1@1866920243</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:51:53</td>   <td>20731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.homepagecontinue()[pri:1, instance:TestNG.ProgressiveTestingNGClass@23986957]">homepagecontinue</td> 
  <td>TestNG-test=Test-1@1866920243</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:51:54</td>   <td>21401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.hompageredirectstoperosndetails()[pri:2, instance:TestNG.ProgressiveTestingNGClass@23986957]">hompageredirectstoperosndetails</td> 
  <td>TestNG-test=Test-1@1866920243</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:52:04</td>   <td>31684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.ProgressiveVehicleDetails()[pri:3, instance:TestNG.ProgressiveTestingNGClass@23986957]">ProgressiveVehicleDetails</td> 
  <td>TestNG-test=Test-1@1866920243</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:52:20</td>   <td>47205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.ProgressiveDriversDetails()[pri:4, instance:TestNG.ProgressiveTestingNGClass@23986957]">ProgressiveDriversDetails</td> 
  <td>TestNG-test=Test-1@1866920243</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>20/02/14 20:52:37</td>   <td>64960</td> <td>&nbsp;</td><td title="&lt;&lt;GoogleTestNG.terminateTest()[pri:0, instance:TestNG.GoogleTestNG@23f7d05d]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:52:42</td>   <td>69751</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveTestingNGClass.terminatingBrowser()[pri:0, instance:TestNG.ProgressiveTestingNGClass@23986957]">&lt;&lt;terminatingBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/02/14 20:52:43</td>   <td>70962</td> <td title="&lt;&lt;ProgressiveTestingNGClass.tearDown()[pri:0, instance:TestNG.ProgressiveTestingNGClass@23986957]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
</table>
