<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:32:10</td>   <td>0</td> <td title="&gt;&gt;ProgressiveTestingNGClass.executeBeforeStartingTest()[pri:0, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">&gt;&gt;executeBeforeStartingTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1831477404</td>   <td></td> </tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:32:10</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveTestingNGClass.setUpTest()[pri:0, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1831477404</td>   <td></td> </tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:32:16</td>   <td>6434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.Anutejahomepage()[pri:0, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">Anutejahomepage</td> 
  <td>main@1831477404</td>   <td></td> </tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:32:23</td>   <td>12936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.homepagecontinue()[pri:1, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">homepagecontinue</td> 
  <td>main@1831477404</td>   <td></td> </tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:32:23</td>   <td>13388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.hompageredirectstoperosndetails()[pri:2, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">hompageredirectstoperosndetails</td> 
  <td>main@1831477404</td>   <td></td> </tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:32:32</td>   <td>21627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.ProgressiveVehicleDetails()[pri:3, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">ProgressiveVehicleDetails</td> 
  <td>main@1831477404</td>   <td></td> </tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:32:51</td>   <td>41238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestingNGClass.ProgressiveDriversDetails()[pri:4, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">ProgressiveDriversDetails</td> 
  <td>main@1831477404</td>   <td></td> </tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:33:39</td>   <td>88617</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveTestingNGClass.terminatingBrowser()[pri:0, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">&lt;&lt;terminatingBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1831477404</td>   <td></td> </tr>
<tr bgcolor="96e4cd">  <td>20/02/14 20:33:40</td>   <td>89837</td> <td title="&lt;&lt;ProgressiveTestingNGClass.tearDown()[pri:0, instance:TestNG.ProgressiveTestingNGClass@70be0a2b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1831477404</td>   <td></td> </tr>
</table>
